{% extends "odpw_layout.jinja" %}

{% block content %}
<div class="ui  container">
    <h2 class="ui header">Impressum</h2>
    <div class="ui text vertical segment ">
Institut für Produktionsmanagement<br>
Wirtschaftsuniversität Wien<br>
Welthandelsplatz 1,<br>
1020 Wien
    </div>

    <div class="ui text vertical segment ">
Offenlegung gemäß §25 Mediengesetz<br>
Medieninhaber: WU (Wirtschaftsuniversität Wien),<br>
Welthandelsplatz 1, 1020 Vienna, Austria<br>
Unternehmensgegenstand: gem. Aufgabendefinition in §3 Universitätsgesetz 2002 UID-Nummer ATU 37694107<br>
DVR WU 0012343
    </div>


</div>
{% endblock %}