<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block maintitle %} {% endblock %} Open Data Portal Watch
        </title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='semantic/semantic.min.css')}}">
        {% block headcss %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/odpw.css')}}">




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ url_for('.static', filename='semantic/semantic.min.js')}}"></script>

        {% block headscripts %}  {% endblock %}

        <style>
            .ui.card .meta {
                font-size: 0.8em;
            }
            {% block headerstyle %}

            {% endblock %}
        </style>
        <script>
            {% block headscript %}

            {% endblock %}
        </script>
    </head>

    <body class="Site">

    <!-- HEADER -->
        <header id="header" class="ui vertical segment">
            <h1 class="ui header inverted fifteen wide column">
                <div class="content">
                    Open Data Portal Watch
                    <div class="sub header inverted">Quality Assessment and Monitoring of {{data.portalCount}} Open Data Portals</div>
                </div>
                <img  class="ui image" src="{{ url_for('.static', filename='img/wu.png')}}">
            </h1>
        </header>

    <!-- MAIN NAVIGATION -->
        <main class="Site-content">
        <nav id="mainnav" class="ui inverted fluid secondary stackable pointing icon menu " >
            {% set navigation_bar = [
                    ('ui.index','odpw', 'ODPW', 'info'),
                    ('ui.portalslist', 'portals', 'Portals','grid layout'),
                    ('ui.apispec', 'api', 'API','code'),
                    ('ui.qualitymetrics', 'quality', 'Quality Metrics','star outline'),
                    ('ui.sparqlendpoint', 'sparql', 'SPARQL','search'),
                    ('ui.data', 'data', 'Data Dumps','download')
                ]
            -%}
            {% set active_page = active_page|default('index') -%}
            {% for href, id, caption, icon  in navigation_bar %}
                <a class="link item {% if id == active_page %}active{% endif%}" href="{{ url_for(href)|e }}">
                    <i class="icon {{icon}}"></i>
                    {{ caption|e }}
                </a>
            {% endfor %}
            <!--<a class="link item"><i class="icon download"></i>Data</a>-->
            <div class="right menu">
                <a href="{{url_for('ui.about')}}" class="ui item {% if id == active_page %}active{% endif%}">About</a>
            </div>
        </nav>

    <!-- CONTENT -->

        <section class="ui text">
            {% block content %}
            {% endblock %}
        </section>
        </main>

    <!-- FOOTER -->
        <footer id="footer" class="ui background vertical footer segment">
            <div class="ui  container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="four wide column">
                        <h4 class="ui inverted header">Links</h4>
                        <div class="ui inverted link list">
                            <a href="https://www.wu.ac.at/en/infobiz/" class="item">Institute for Information Business</a>
                            <a href="https://www.wu.ac.at/" class="item">WU Wien</a>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <p>Created and maintained by <a href="https://sebneumaier.wordpress.com/">Sebastian Neumaier</a> and <a href="{{url_for('ui.about')}}">colleagues</a>. Source code released under the <a href="https://github.com/sebneu/portalwatch">GPL-3.0 license</a>.</p>
                    </div>
                    <div class="two wide column">
                        <div class="ui inverted link list">
                            <a href="{{url_for('ui.impressum')}}" class="item">Impressum</a>
                        </div>
                        <h4 class="ui inverted header"></h4>
                    </div>
                </div>
            </div>
        </footer>
    <!-- SCRIPTS -->
        <script>
            {% block script %} {% endblock %}
        </script>
    </body>
</html>