{% extends "odpw_layout.jinja" %}

{% set active_page = "evolution" -%}


{% block headcss %}
    {{ css_resources }}
{% endblock %}

{% block headscripts %}
    {{ js_resources }}
{% endblock %}



{% block content %}
<div class="ui  container">
    <h2 class="ui header">Evolution of Governmental Open Data</h2>
    <div class="ui text vertical segment ">

    </div>

    <div class="ui padded text segment">
        <h2 class="ui header">Selected Data Portals</h2>
        <div class="ui link cards">
        {% for portal in data.portals %}
          <a class="card" href="{{url_for('ui.portal', portalid=portal.id, snapshot=snapshot)}}">
            <div class="content">
              <i class="right floated {{portal.iso| lower}} flag"></i>
              <div class="header">{{portal.title}}</div>
              <div class="meta">{{portal.software}}</div>
              <div class="description">{{portal.snCount}} Snapshots</div>
              <span>
                <i class="list icon"></i>
                {{portal.datasets}}  Datasets
              </span>
              <span>
                <i class="file icon"></i>
                {{portal.resources}}  Resources
              </span>
            </div>
          </a>
        {% endfor %}
        </div>
    </div>

    {% if 'datasets_evolution' in plot_div %}
    <div class="ui padded text segment">
        <h2 class="ui header">Number of Datasets and Resources</h2>
        {{ plot_div['datasets_evolution'] }}
    </div>
    {% endif %}

    {% if 'formats' in plot_div %}
    <div class="ui padded text segment">
        <h2 class="ui header">File Format Evolution</h2>
        {{ plot_div['formats'] }}
    </div>
    {% endif %}

    {% if 'csv_evolution' in plot_div %}
    <div class="ui padded text segment">
        <h2 class="ui header">CSV Files per Portal</h2>
        {{ plot_div['csv_evolution'] }}
    </div>
    {% endif %}

    {% if 'openness_evolution' in plot_div %}
    <div class="ui padded text segment">
        <h2 class="ui header">Evolution of Openness Metrics</h2>
        {{ plot_div['openness_evolution'] }}
    </div>
    {% endif %}

     {{ plot_script }}
</div>
{% endblock %}