{% extends "odpw_layout.jinja" %}

{% set active_page = "sparql" -%}


{% block headcss %}
    <link href='//cdn.jsdelivr.net/yasgui/2.5.0/yasgui.min.css' rel='stylesheet' type='text/css'/>
    <link href='http://cdn.jsdelivr.net/yasqe/2.2/yasqe.min.css' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block headscripts %}
    <script src='//cdn.jsdelivr.net/yasgui/2.5.0/yasgui.min.js'></script>
    <script src='http://cdn.jsdelivr.net/yasqe/2.2/yasqe.bundled.min.js'></script>
{% endblock %}

{% block headerstyle %}
      .yasgui .endpointText {display:none !important;}
{% endblock %}


{% block content %}
<div class="ui  container">
    <h2 class="ui header">SPARQL Endpoint</h2>
    <div class="ui text vertical segment ">
        <p>Access the DCAT metadata desciptions and their respective quality assessments via a SPARQL endpoint.</p>
        <p>The endpoint API is located at <a href="{{endpoint}}">{{endpoint}}</a>.</p>
    </div>
    <div class="container ui">
        <div class="ui segment">
	        <div id='yasgui'></div>
        </div>
    </div>
<!--
    <iframe src="{{endpoint}}" width="100%" height="600">
        <p>Your browser does not support iframes.</p>
    </iframe>
-->
    <h2 class="ui header">Available Graphs</h2>
    <p>The following versions (i.e. snapshots) of the datasets are available as named graphs:</p>
    <ul>
        {% for g in graphs %}
        <li>{{g}}</li>
        {% endfor %}
    </ul>
    <h2 class="ui header">Example Queries</h2>
    <p>Get the list of portals and respective number of datasets for a snapshot:</p>
<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #000080; font-weight: bold">select</span> ?activity ?start ?end ?portal <span style="color: #000080; font-weight: bold">count</span>(?d) <span style="color: #000080; font-weight: bold">as</span> ?datasets
<span style="color: #000080; font-weight: bold">from</span> &lt;https://data.wu.ac.at/portalwatch/ld/1935&gt;
<span style="color: #000080; font-weight: bold">where</span> <span style="color: #a61717; background-color: #e3d2d2">{</span>
  ?activity odpw:fetched ?portal ;
            prov:startedAtTime ?start ;
            prov:endedAtTime ?end .
  ?portal dcat:dataset ?d .
<span style="color: #a61717; background-color: #e3d2d2">}</span>
<span style="color: #000080; font-weight: bold">group</span> <span style="color: #000080; font-weight: bold">by</span> ?activity ?start ?end ?portal
<span style="color: #000080; font-weight: bold">order</span> <span style="color: #000080; font-weight: bold">by</span> <span style="color: #000080; font-weight: bold">desc</span>(?datasets)
</pre></div>

    <p style="padding-bottom: 30px;"></p>
    <p>Select all portals that describe transportation data, i.e., portals holding datasets that use "transportation" as a keyword:</p>
<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
<pre style="margin: 0; line-height: 125%"><span style="color: #000080; font-weight: bold">select</span> <span style="color: #000080; font-weight: bold">distinct</span>(?p)
<span style="color: #000080; font-weight: bold">from</span> &lt;https://data.wu.ac.at/portalwatch/ld/1935&gt;
<span style="color: #000080; font-weight: bold">where</span> <span style="color: #a61717; background-color: #e3d2d2">{</span>
  ?p dcat:dataset ?d.
  ?d a dcat:Dataset.
  ?d dcat:keyword <span style="color: #0000FF">&quot;transportation&quot;</span>.
<span style="color: #a61717; background-color: #e3d2d2">}</span>
</pre></div>

    <p style="padding-bottom: 30px;"></p>
    <p>List all organizations at the Austrian data portal data.gv.at and the average availability of contact email addresses in the dataset descriptions:</p>

<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
<pre style="margin: 0; line-height: 125%">
<span style="color: #000080; font-weight: bold">select</span> ?orga <span style="color: #000080; font-weight: bold">sum</span>(?v)/<span style="color: #000080; font-weight: bold">count</span>(?v) <span style="color: #000080; font-weight: bold">as</span> ?emailmetric
<span style="color: #000080; font-weight: bold">from</span> &lt;https://data.wu.ac.at/portalwatch/ld/1935&gt;
<span style="color: #000080; font-weight: bold">where</span> <span style="color: #a61717; background-color: #e3d2d2">{</span>
  &lt;http://data.gv.at&gt; dcat:dataset ?d .
  ?d dct:publisher ?o .
  ?o foaf:name ?orga .
  ?d dqv:hasQualityMeasurement ?m .
  ?m dqv:isMeasurementOf pwq:ContactEmail .
  ?m dqv:value ?v .
<span style="color: #a61717; background-color: #e3d2d2">}</span>
<span style="color: #000080; font-weight: bold">group</span> <span style="color: #000080; font-weight: bold">by</span> ?orga
</pre></div>

    <h2 class="ui header">Namespaces</h2>

<!-- HTML generated using hilite.me -->
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
<pre style="margin: 0; line-height: 125%">
<span style="color: #000080; font-weight: bold">PREFIX</span> odpw: &lt;http://data.wu.ac.at/ns/odpw#&gt;
<span style="color: #000080; font-weight: bold">PREFIX</span> pwq: &lt;https://data.wu.ac.at/portalwatch/quality#&gt;
<span style="color: #000080; font-weight: bold">PREFIX</span> dcat: &lt;http://www.w3.org/ns/dcat#&gt;
<span style="color: #000080; font-weight: bold">PREFIX</span> dqv: &lt;http://www.w3.org/ns/dqv#&gt;
<span style="color: #000080; font-weight: bold">PREFIX</span> prov: &lt;http://www.w3.org/ns/prov#&gt;
<span style="color: #000080; font-weight: bold">PREFIX</span> csvw: &lt;http://www.w3.org/ns/csvw#&gt;
</pre></div>

<p style="padding-bottom: 50px;"></p>
</div>
{% endblock %}


{% block script %}
  var yasgui = YASGUI(document.getElementById("yasgui"), {
    yasqe:{sparql:{endpoint:'https://data.wu.ac.at/sparql/'}}
  });
  tab = yasgui.current()
  if(tab) {
     tab.yasqe.addPrefixes({"odpw": "http://data.wu.ac.at/ns/odpw#", "pwq": "https://data.wu.ac.at/portalwatch/quality#", "dcat": "http://www.w3.org/ns/dcat#"})
  }
{% endblock %}